@media (max-width: 1531px){
    .about .about-content-left img{
        height: 470px;
        width: 520px;
    }
    
}
@media (max-width: 1434px){
    .container{
        padding:0 50px;
        margin: auto;
    }
}
@media all and (max-width: 1390px){
    .box-container::after {
        position: absolute;
        transform: translate(6%, -55%);
        padding: 5px;
        letter-spacing: -1px;
        background: aqua;
    }
}

@media (max-width: 1142px){
    .nav-bar .menu{
        margin-right: 0px;
    }
    
}
@media (max-width: 1140px){
    button{
        border: 4px double #000;
        font-size: 12px;
        cursor: pointer;
        padding: 7px 13px;
    
    }
    .guess-box .box-container input{
        width: 50%;

    }
}
@media (max-width: 1084px){
    .box-container::after {
        content: "Enter number 1-100";
        background: #fff;
    }
    .guess-footer{
    font-size: 13px;
    }
}
@media (max-width: 974px){
    .box-container p input{
        margin-left: 10px;
    }
}



@media all and (max-width: 948px){
    /* Nav bar section */
    .nav-bar{
        padding: 13.5px 0;
        align-items: center;
    }
    .nav-bar .menu{
        display: block;
        position: fixed;
        top: 73px;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #171c24;
        padding: 40px 0;
        text-align: center;
        z-index: -1;
    }

    .nav-bar ul li, .nav-bar ul ul li{
        display: block;
        width: 100%;
    }

    .nav-bar .menu ul{
        top: 70px;
        position: static;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .nav-bar .menu li a:hover{
        /* color: rgb(71, 52, 245); */
        /* border-radius: 5px;
        box-shadow: 0 0 5px #33ffff,
                    0 0 5px #66ffff; */
        color: #323c4e;
        background: none;
    }
    .show{
        display: block;
        color: rgba(255, 255, 255, 0.911);
        font-size: 26px;
        font-weight: 500;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color: #323c4e;
        background: none;

    }
    .icon{
        display: block;
        color: rgba(255, 255, 255, 0.911);
        font-size: 26px;
        cursor: pointer;
        line-height: 45px;
    }

    .show + a, .nav-bar .menu{
        display: none;
    }


    [id^=btn]:checked + ul{
        display: block;
    }


    /* menu button */
    .toggle-button{
        display: flex;
    }
    .menu.active{
        display: block;
    }

}

@media (max-width: 721px){
    .container{
        padding:0 23px;
    }
    
}

@media (max-width: 611px){
    .container{
        padding:0 23px;
    }
}