/*-------import google font-------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

.container{
    padding:0 100px;
    margin: auto;

}
/*-------nav-bar styles-------*/
.nav-bar{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
    background: #171c24;

}


.nav-bar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .logo a span{
    color: #33ffff;
}

.nav-bar .logo a{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
}

.nav-bar .menu{
    display: flex;
    margin-right: 20px;
    position: relative;
}

.nav-bar .menu li{
    list-style: none;
    display: inline-block;
    line-height: 70px;
}

.nav-bar .menu li a{
    color: rgba(255, 255, 255, 0.911);
    font-size: 26px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
    padding: 12px 30px;
    border-radius: 7px;
}

.nav-bar .menu li a:hover{
    background: #323c4e;
    
}

.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}




.quali .container{ 
    margin: 200px 0 25% 0px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}
.table td, .table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}
.table th{
    background-color: darkblue;
    color: #ffffff;
    font-weight: bold;
}
.table tbody tr:nth-child(even){
    background-color: #f5f5f5;

}



/* ---------Footer styling --------- */
/* Footer Content */
.footer{
    width: 100%;
    background: #06283D;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
}

.footer-content{
    display: flex;
}

.footer-content .box{
    padding: 20px 20px;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* .box .content{
    margin: 20px 0 0 0;
} */

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    margin: 0 10px;
    color: white;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #34495e;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.left .content .social a span:hover{
    background: cyan;
    box-shadow:  0 0 5px #33ffff,
                 0 0 10px #66ffff;
}
.footer-content .left{
    width: 50%;
}
.footer-content .right{
    width: 50%;
}

.footer-content .right .content, .footer-content .right>h2{
    display: block;
    margin-left: 200px;
}
