/*-------import google font-------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    padding:0 170px;
    margin: auto;
}
/*-------nav-bar styles-------*/
.nav-bar{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 20px 0px;
    font-family: 'Ubuntu', sans-serif;
    background: rgb(245, 52, 52)
}


.nav-bar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo a{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
}

.nav-bar .menu{
    display: flex;
    margin-right: 200px;
}

.nav-bar .menu li{
    list-style: none;
    display: inline-block;
}

.nav-bar .menu li a{
    color: rgba(255, 255, 255, 0.911);
    font-size: 26px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
    padding: 28.5px 40px;
}

.nav-bar .menu li a:hover{
    color: rgb(71, 52, 245);
    background-color: pink;
}


/*-------Background slideshow styles-------*/




.crossfade > figure {
    animation: imageAnimation 16s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -999;
}
.crossfade > figure:nth-child(1) { background-image: url('./images/images.jpg'); }
.crossfade > figure:nth-child(2) {
  animation-delay: 4s;
  background-image: url('./images/orange.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 8s;
  background-image: url('./images/website-background-image-size-psd-vector-photo.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 12s;
  background-image: url('./images/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==.jpg');
}

/*-------Background slideshow styles-------*/


/*-------Home section styles-------*/
.home{
    display: flex;
    /* background: url(./images/website-background-image-size-psd-vector-photo.jpg);
    background-position: center;
    background-size: cover; */
    height: 100vh;
    color: aliceblue;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .container{
    margin: auto 0 25% 0px;
}
.home .home-content .text-1{
    font-size: 30px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: rgb(245, 52, 52);
    font-weight: 600;
}

.home .home-content a{
    display: inline-block;
    background: rgb(245, 52, 52);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 13px;
    border: 2px solid rgb(245, 52, 52);
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: rgb(245, 52, 52);
    background-color: black;
    /* background: none; */
}



/*-------About section styles-------*/
section{
    padding: 100px 0;
}

.about, .services, .skills{
    font-family: 'Poppins', sans-serif;  
}

.about .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 230px;
    height: 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}

.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: rgb(245, 52, 52) ;
    padding: 1px 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.about .about-content-left{
    width: 45%;
}

.about .about-content-left img{
    /* height: 400px;
    width: 400px; */
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content-right{
    width: 55%;
}

.about .about-content-right .text{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.about .about-content-right p{
    text-align: justify;
    padding-bottom: 10px;
}

.about .about-content-right a{
    display: inline-block;
    background: rgb(245, 52, 52);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 13px;
    border: 2px solid rgb(245, 52, 52);
    transition: all 0.3s ease;
}

.about .about-content-right a:hover{
    color: rgb(245, 52, 52);
    background: none;
}


/*------- Skills styles -------*/

.skills .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.skills .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 230px;
    height: 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}

.skills .title::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: rgb(245, 52, 52) ;
    padding: 1px 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.skills .skills-content .bars{
    margin-bottom: 30px;
    /* padding: 0 70px; */
    /* max-width: calc(90%); */
}

.skills .skills-content .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .info span{
    font-size: 25px;
    font-weight: 600;
}

.skills .skills-content .line{
    height: 5px;
    width: 100%;
    background: grey;
    position: relative;
    padding: 10px 0;
}

.skills .skills-content .html::before{
    content: "";
    position: absolute;
    background: red;
    height: 100%;
    width: 70%;
    left: 0;
    top: 0;
}

.skills .skills-content .css::before{
    content: "";
    position: absolute;
    background: red;
    height: 100%;
    width: 90%;
    left: 0;
    top: 0;
}

.skills .skills-content .js::before{
    content: "";
    position: absolute;
    background: red;
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
}

.skills .skills-content .php::before{
    content: "";
    position: absolute;
    background: red;
    height: 100%;
    width: 10%;
    left: 0;
    top: 0;
}


/*------- Service styles -------*/

.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}



.services .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.services .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 230px;
    height: 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}

.services .title::after{
    content: "what i provide";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: rgb(245, 52, 52) ;
    padding: 1px 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.services .services-content .card{
    width: 31%;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    background: rgb(190, 16, 16);
}

.services .text{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}











@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}