/*-------import google font-------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    /* max-width: 1300px; */
    padding:0 100px;
    margin: auto;

}
/*-------nav-bar styles-------*/
.nav-bar{
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
    background: #171c24;

}


.nav-bar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .logo a span{
    color: #33ffff;
}

.nav-bar .logo a{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
}

.nav-bar .menu{
    display: flex;
    margin-right: 20px;
    position: relative;
}

.nav-bar .menu li{
    list-style: none;
    display: inline-block;
    line-height: 70px;
}

.nav-bar .menu li a{
    color: rgba(255, 255, 255, 0.911);
    font-size: 26px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
    padding: 12px 30px;
    border-radius: 7px;
}

.nav-bar .menu li a:hover{
    background: #323c4e;
    
}

.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*-------Menu/Cancel button styles-------*/
/* .bton{
    color: #fff;
    font-size: 23px;
    display: none;
    cursor: pointer;

} */

/* .bton.cancel-btn{
    position
} */


/*-------Background slideshow styles-------*/



/* .crossfade > figure {
    animation: imageAnimation 16s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: transparent;
    height: 100vh;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -999;
}
.crossfade > figure:nth-child(1) { background-image: url('./images/images.jpg'); }
.crossfade > figure:nth-child(2) {
  animation-delay: 4s;
  background-image: url('./images/orange.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 8s;
  background-image: url('./images/website-background-image-size-psd-vector-photo.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 12s;
  background-image: url('./images/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==.jpg');
} */

/*-------Background slideshow styles-------*/


/*-------Home section styles-------*/
.home{
    display: flex;
    background: url(./images/website-background-image-size-psd-vector-photo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: aliceblue;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .container{
    margin: 250px 0 0 0px;
}
.home .home-content .text-1{
    font-size: 30px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #33ffff;
    font-weight: 600;
}

.home .home-content a{
    display: inline-block;
    background: #33ffff;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #33ffff;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #33ffff;
    background: none;
}

/*-------Simmular section styles-------*/


.about, .services, .skills{
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;  
    min-height: 100vh;
    background-color:  #DFF6FF;
    
}
.about .about-content,
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*-------About section styles-------*/


.about .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #33ffff;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 230px;
    height: 5px;
    background: #33ffff;
    transform: translateX(-50%);
}

.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: rgb(245, 52, 52) ;
    padding: 1px 5px;
    background: #DFF6FF;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.about .about-content-left{
    width: 45%;
}

.about .about-content-left img{
    height: 500px;
    width: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content-right{
    width: 55%;
}

.about .about-content-right .text{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.about .about-content-right p{
    text-align: justify;
    padding-bottom: 10px;
}

.about .about-content-right a{
    display: inline-block;
    background: rgb(245, 52, 52);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 11px;
    border: 2px solid rgb(245, 52, 52);
    transition: all 0.3s ease;
}

.about .about-content-right a:hover{
    color: rgb(245, 52, 52);
    background: none;
}


/*------- Skills styles -------*/
/* 

.skills .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.skills .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 230px;
    height: 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}

.skills .title::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: rgb(245, 52, 52) ;
    padding: 1px 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.skills .skills-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: #e3edf7;
}


.wrapper{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .card{
    width: 33%;
    background: #fff;
    height: 300px;
}

 */


/*------- Service styles -------*/

.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}



.services .title{
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.services .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 230px;
    height: 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}

.services .title::after{
    content: "what i provide";
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 20px;
    color: rgb(245, 52, 52) ;
    padding: 1px 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.services .services-content .card{
    width: 31%;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    background: #171c24;
    transition: all 0.3s ease;
}

.services .services-content .card:hover{
    background: #323c4e;
}

.services .text{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.services .services-content .card .box{
    transition: all 0.3s ease;
}

.services .services-content .card:hover .box{
    transform: scale(1.05);
}

.services .services-content p{
    color: #33ffff;
}



/* ---------Footer styling --------- */
/* Footer Content */
.footer{
    width: 100%;
    background: #06283D;
    color: white;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
}

.footer-content{
    display: flex;
}

.footer-content .box{
    padding: 20px 20px;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* .box .content{
    margin: 20px 0 0 0;
} */

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    margin: 0 10px;
    color: white;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #34495e;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.left .content .social a span:hover{
    background: cyan;
    box-shadow:  0 0 5px #33ffff,
                 0 0 10px #66ffff;
}
.footer-content .left{
    width: 50%;
}
.footer-content .right{
    width: 50%;
}

.footer-content .right .content, .footer-content .right>h2{
    display: block;
    margin-left: 200px;
}
.footer-content .left .content, .footer-content .left>h2{
    display: block;
    margin-left: 150px;
}
.footer-content .left .content{
    margin-top: 50px;
}





@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}